
*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Lato', sans-serif;
    
}
header.mained{
    height:500px;
    background: url("images/1527.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.maincontroller{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:90px;
    background : rgba(0,0,0,0.7);
}
.titled{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:0.6;
}
.titled img{
    width:80px;
    height:70px;
    margin-top: -10px;
    animation: cartanim 2s linear;
}
.titled p{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:rgb(255, 254, 246);
    font-style: italic;
}
.navcont{
    display: flex;
    flex:1;
    justify-content: center;
}
.navcont ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width:100%;
}
.navcont ul li a{
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.navcont ul li a:hover{
    color:gold;
    border-bottom: 2px solid gold;
}
.logs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0.35;
}
.logs button{
    margin-bottom: 5px;
}
.titled p:hover{
    transition-duration: 1s;
    color:gold;
    cursor: pointer;
}
.maincontrollerspec .titled p:hover{
    transition-duration: 1s;
    color:gold;
    cursor: pointer;
}
@keyframes cartanim{
    from{
        transform:translate(-80px);
    }
    to{
        transform: translate(0px);
    }
}
.dropdown-menu {
    color:white;
    background: rgba(252, 227, 6, 0.9);
}
/*collapse*/

.maincontrollerspec{
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0,0.7);
    height:70px;
    justify-content: space-around;
}
.maincontrollerspec .titled{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.maincontrollerspec .btn-group{
    display: flex;
    align-items: center;
}

.maincontrollerspec .titled .sp{
    font-size: 18px;
}
.maincontrollerspec .titled img{
    height:30px;
    width:50px;
}
.btn-group button{
    height:40px;
}
.btn-group .u{
    height:40px;
}
section{
    margin-top: 50px;
   
}
.trendtitle{
    display: flex;
    height:100px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h2{
    color:black;
    font-weight: 700;
}
h2:hover{
    transition-duration: 1s;
    color:gold;
}
.trendtitle p{
    
    font-size: 22px;
    animation: rightshift 1s linear forwards;
}
.trendtitle h2{
    animation: leftshift 1s linear forwards;
}
@keyframes rightshift{
    0%{
        transform: translateX(700px);
    }
    50%{
        transform: translateX(350px);
    }
    80%{
        transform: translateX(0px);
        color:gold;
    }
    100%{
        transform: translateX(0px);
        color:black;
    }
}
@keyframes leftshift{
    0%{
        transform: translateX(-700px);
    }
    40%{
        transform: translateX(-350px);
    }
    80%{
        transform: translateX(0px);
        color: gold;
    }
    100%{
        transform: translateX(0px);
        color:black;
    }
}
.thecarousel{
    margin-top:20px;
    
}
.carousel-caption p{
    font-size: 20px;
}
.carousel-caption h1 a{
    color:white;
    text-decoration: none;
}
.carousel-caption:hover{
    cursor: pointer;
}
.carousel-caption h1:hover{
    color:gold;
    transition-duration: 1s;
    
}
.carousel-caption p:hover{
    color:gold;
    transition-duration: 1s;
    font-size: 22px;
    font-style: italic;
    
}
footer{
    
    background :rgba(0,0,0,1);
    color:white;
    display: flex;
    flex-direction: row;
    height:200px;
}
.followus,.about,.contactus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about p{
    font-size: 22px;
    font-weight: 600;
}
.about ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:35%;
    text-align: center;
}
.about ul li a{
    color:gold;
}
.contactus ul li a{
    color:gold;
}
.about,.contactus{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contactus p{
    font-size: 24px;
    font-weight: 600;
}
.contactus ul{
    height:35%;
    text-align: center;
}
.followus{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:2%;
    flex:1;
    
}
.about,.followus,.contactus{
    flex:1;
}
.about ul{
    list-style: none;
}
.contactus ul{
    list-style: none;
}
.followus img{
    width:25px;
    height:25px;
    border-radius: 40%;
}
.followus p{
    font-weight: 600;
    font-size: 24px;
    margin-top:-3%;
}
.imholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:30%;
    
}
.fadeout{
    display: none;
}
@media (max-width:800px)
{   header{
    height:250px;
}
   .maincontrollerspec{
       height:60px;
   }
    .followus p,.contactus p,.about p{
        font-size: 13px;
    }
    .contactus ul,.about ul{
        font-size:12px;
    }
    footer{
        height:200px;
    }
    
}

/* login.css work */
.likeheaderlogin{
    height:800px;
    background: url("images/logins/logincov.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.formmain{
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
    color:white;
    margin-top:10%;
    
}
form{
    width:500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;    
   
    background-color: rgba(0,0,0,0.7);
    height:250px;
}
.form-control
{
    width:200px;
    height:30px;
    margin-left:10%;
}
.form-control:hover{
    background: none;
    color:white;
    border-bottom: 1px solid white;
    
}
.form-group{
    margin-left:20%;
}

.mainup{
    margin-top:1%;
}
.lowup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:100px;
}
.lowup p a{
    text-decoration: none;
    color:white;
}
.lowup p a:hover{
    color:lightgreen;
}
/* signup .css */
.likeheadersign{
    height:1000px;
    background: url("images/logins/logincov.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.formmainsignup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background: none;
    color:white;
    margin-top:10%;
    height:700px;
}
form.signform{
    display: flex;
    justify-content: space-around;
    flex-direction: column;    
    align-items: center;
    width:700px;
    height:700px;
    background-color: rgba(0,0,0,0.7);
}
.signform .form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:300px;
}
.tickbox{
    position:relative;
    left:-100px;
}
.ticksubmit{
    position:relative;
    left:-20px;
}
.signform input[type="text"]{
    width:300px;
}
.signform input[type="password"]{
    width:300px;
}
.signform input[type="email"]{
    width:300px;
}

/*clothing.html*/

.clothsmain{
    background: url("images/heads.jpg");
    height:600px;
    background-size: cover;

}
.clothstitled{
    height:600px;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    color:white;
}
.shadowed{
    width:500px;
    background :rgba(0,0,0,0.3);
    height:510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    ;
}
.clothstitled .shadowed p.foranim{
    font-size: 40px;
    font-weight: 700;
    animation: fallinggold 1.25s linear forwards;
}
@keyframes fallinggold {
    0%{
        transform: translateY(-500px);
        color:gold;
    }
    40%{
        transform: translateY(-250px);
    }
    80%{
        transform: translateY(0px);
        
    }
    100%{
        transform: translateY(0px);
        color:white;
        border-bottom: white 2px solid;
    }

}
p.seconder{
    font-size: 30px;
    color:white;
    animation : fells 1.25 linear forwards;
}
@keyframes fells{
    0%{
        transform: translateX(0px);
        color:gold;
    }
    
    100%{
        transform: translateX(0px);
        color:white;  
    }
}

@media (max-width:700px)
{   
    .clothsmain{
        background: url("images/heads.jpg");
        height:350px;
        background-size: cover;
    
    }
    .clothstitled{
        height:350px;
        display: flex;
        flex-direction: column;
        
        align-items: flex-end;
        color:white;
    }
    .shadowed{
        width:200px;
        background :rgba(0,0,0,0.3);
        height:290px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
        ;
    }
    .clothstitled .shadowed p.foranim{
        font-size: 20px;
        font-weight: 700;
        animation: fallinggold 1.25s linear forwards;
    }
    p.seconder{
        font-size: 16px;
        color:white;
    }
}

/*sports.html*/

.sportsmain{
    background: url("images/tennis.jpg");
    height:600px;
    background-size: cover;
}
.foranimtennis{
    font-size: 40px;
    font-weight: 700;
    animation: fallingglue 1.25s linear forwards;
}
@keyframes fallingglue {
    0%{
        transform: translateY(-500px);
        color:green;
    }
    40%{
        transform: translateY(-250px);
    }
    80%{
        transform: translateY(0px);
        
    }
    100%{
        transform: translateY(0px);
        color:white;
        border-bottom: white 2px solid;
    }

}
.secondertennis{
    font-size: 30px;
    color:white;
    animation : fellsglue 1.25 linear forwards;
}
@keyframes fellsglue{
    0%{
        transform: translateX(0px);
        color:lightgreen;
    }
    
    100%{
        transform: translateX(0px);
        color:white;  
    }
}
@media (max-width:700px)
{   
    .sportsmain{
        background: url("images/tennis.jpg");
        height:350px;
        background-size: cover;
    
    }
    .clothstitled{
        height:350px;
        display: flex;
        flex-direction: column;
        
        align-items: flex-end;
        color:white;
    }
    .shadowed{
        width:200px;
        background :rgba(0,0,0,0.3);
        height:290px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
        ;
    }
    .clothstitled .shadowed p.foranimtennis{
        font-size: 20px;
        font-weight: 700;
        animation: fallinggold 1.25s linear forwards;
    }
    p.secondertennis{
        font-size: 16px;
        color:white;
    }
}
/*electronics.html*/
.electromain{
    background: url("images/tech2.jpg");
    height:600px;
    background-size: cover;
}
.foranimelec{
    font-size: 40px;
    font-weight: 700;
    animation: fallingbolt 1.25s linear forwards;
}
@keyframes fallingbolt {
    0%{
        transform: translateY(-500px);
        color:blue;
    }
    40%{
        transform: translateY(-250px);
    }
    80%{
        transform: translateY(0px);
        
    }
    100%{
        transform: translateY(0px);
        color:lightblue;
        border-bottom: white 2px solid;
    }

}
.seconderelec{
    font-size: 24px;
    color:lightblue;
    text-align: center;   
}

.Aboutus{
    background: url("images/tdark.jpg");
    height:700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}
.aboutpor{
    height:400px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aboutpor p.once{
    font-size: 30px;
    font-weight: 400;
    color:rgb(207, 207, 207);
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    
}
p.onceag{
    font-size: 40px;
    font-weight: 400;
    color:rgb(231, 228, 228);
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;

}
p.tea{
    font-size: 30px;
    font-weight: 400;
    color:rgb(235, 232, 232);
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}
.aboutpor p:hover{
    transition-duration: 1s;
    color:gold;
    cursor:pointer;
}
.sectionbody{
    font-family: 'Lato', sans-serif;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.backenddev{
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2%;
}
.titledev{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.embedcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.devcard{
    width:350px;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}
.textflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.devcard  img{
    width:80%;
    height:60%;
    border-radius: 60%;
}
.devname{
    font-size: 24px;
    font-weight: bold;
}
.devdesc{
    text-align: center;
}
@media (max-width:700px)
{   
    .sportsmain{
        background: url("images/tech2.jpg");
        height:350px;
        background-size: cover;
    
    }
    .clothstitled{
        height:350px;
        display: flex;
        flex-direction: column;
        
        align-items: flex-end;
        color:white;
    }
    .shadowed{
        width:200px;
        background :rgba(0,0,0,0.3);
        height:290px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .clothstitled .shadowed p.foranimelec{
        font-size: 20px;
        font-weight: 700;
        animation: fallinggold 1.25s linear forwards;
    }
    p.seconderelec{
        font-size: 16px;
        color:white;
    }
}   
    

